#book-detail {
  display: flex;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 80px;
  align-items: center; /* 수직 가운데 정렬 */

  // 책 커버이미지 틀
  .book-cover-wrapper {
    width: 11em;
    height: 17em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: none;
  }

  .bookDetail-cover {
    img {
      border-radius: 10px;
      margin-right: 22px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .book-info {
    flex: 1;
    margin-left: 30px;

    .info-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h1 {
        font-size: 1.7rem;
        margin: 0;
        flex: 1;
      }

      .book-actions {
        display: flex;
        align-items: center;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
          margin-left: 10px;

          &:hover {
            opacity: 0.8;
          }
        }

        .download-button {
          background-color: #b6dc80;
          color: #fff;

          &:hover {
            background-color: #9acc6d;
          }
        }

        .read-button {
          background-color: green;
          color: white;
        }

        .favorite-button {
          background: none;
          border: none;
          font-size: 1.5rem;
          cursor: pointer;

          &.active {
            color: #ff6f61; // 색상 변경 (하트 활성화 시)
          }
        }
      }
    }

    .info-item {
      margin-top: 20px;

      &.summary {
        p {
          margin: 0;
          line-height: 1.6;
          font-size: 13.5px;
          max-width: 350px;
          color: #555;
        }
      }

      .category-link {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: #4a4949;
        }
      }
      &.author {
        p {
          margin: 0;
          color: #4a4949;
          font-size: 14px;
        }
      }
      &.publisher {
        p {
          margin: 0;
          color: #747474;
          font-size: 12px;
          line-height: 2.4;
        }
      }
    }
  }

  .read-button-container {
    margin-top: 20px;

    .read-button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      background-color: #4caf50;
      color: #fff;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
