.book-reader {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬을 위한 설정 */
  height: 100vh; /* 화면 전체 높이 */
  justify-content: center; /* 수직 가운데 정렬 */

  .book-container {
    width: 70%; /* 컨테이너 너비 설정 */
    height: 80%; /* 컨테이너 높이 설정 */
    border: 1px solid #ddd;
    overflow: hidden; /* 내부 스크롤링 비활성화 */
    position: relative;
    background-color: #f8f9fa; /* 배경색 설정 (필요에 따라 조정) */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #b6dc80;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }

    &:hover {
      background-color: #9ed353;
    }
  }
}
