.book-reader {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬을 위한 설정 */
  height: 100vh; /* 화면 전체 높이 */
  justify-content: center; /* 수직 가운데 정렬 */

  .book-container {
    width: 85%;
    height: 85%;
    border: 1px solid #ddd;
    overflow: hidden; /* 내부 스크롤링 비활성화 */
    position: relative;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: black !important;

    &:hover {
      color: black !important;
    }
  }
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b6dc80;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;

  &.left {
    left: 20px;
    border: none;
  }

  &.right {
    right: 20px;
    border: none;
  }

  &:hover {
    background-color: #9ed353;
  }
}

.back-button {
  position: absolute;
  top: 20px; /* 상단으로부터의 거리 */
  left: 20px; /* 좌측으로부터의 거리 */
  background-color: transparent; /* 배경색 */
  color: lightgray; /* 글자색 */
  border: none;
  padding: 10px 15px; /* 패딩 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-size: 1.5em; /* 글자 크기 */
  cursor: pointer; /* 마우스 커서 모양 */
  z-index: 20; /* nav-button보다 위에 위치하도록 설정 */
  outline: none;

  &:hover {
    background-color: #999; /* 호버시 배경색 */
  }
}

.progress-bar-container {
  margin-top: 1em;
  width: 50%;
  height: 10px;
  background-color: #e0e0e0;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: rgb(245, 245, 123);
  transition: width 0.2s;
}

.progress-text {
  position: absolute;
  top: 12px; // 진도율 바로 밑에 숫자 위치
  transform: translateX(-50%); // 가운데 정렬
  font-size: 0.8rem;
  color: #333;
}

// 인덱스 버튼 스타일
.index-button {
  position: absolute;
  top: 20px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: gray; // 기본 색상
  z-index: 15;

  &.active {
    color: #9ed353; // 활성화된 북마크 색상
  }

  &:hover {
    color: #9ed353; // 호버시 색상
  }

  &::selection {
    color: #9ed353;
  }
}

// 인덱스 보기 버튼 스타일
.view-indexes {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #9ed353;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 15;
  outline: none;

  &.active {
    background-color: #999;
  }
}

// 인덱스 리스트 스타일
.indexes-list {
  position: absolute;
  bottom: 13%;
  right: 1.5%;
  width: 100px; /* 북마크 메뉴의 폭 */
  height: 150px;
  text-align: center;
  background-color: ivory;
  border: 1px solid #ddd; /* 가벼운 테두리 */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 20; /* 가장 위에 표시되도록 설정 */
  overflow-y: auto; /* 스크롤 기능 추가 */
  transition: all 0.3s ease-in-out; /* 전환 효과 */
  outline: none;

  .bookmark-title {
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .index-progress {
      cursor: pointer;
      padding: 10px;
      font-size: 14px;
      border-radius: 8px; /* 항목에 둥근 모서리 추가 */
      display: flex;
      align-items: center; /* 텍스트 세로 중앙 정렬 */
      justify-content: space-between;

      &:hover {
        background-color: #e9f7df; /* 호버 시 배경색 변경 */
        font-weight: bold;
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0); /* 클릭 시 원래 위치로 돌아옴 */
      }
    }
  }
}

/* 스크롤바 스타일 변경 */
.indexes-list::-webkit-scrollbar {
  width: 6px;
}

.indexes-list::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글게 */
}

.indexes-list::-webkit-scrollbar-track {
  background-color: transparent;
}
