.boogi-book-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: #747474;
  font-size: 0.8em;
}

.chatbot-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 30px;
  font-family: "Arial", sans-serif;
  //margin-left: 5em;
  //margin-right: 5em;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.message-bubble {
  max-width: 40%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
  font-size: 13px;
  line-height: 1.4;

  &.left {
    background-color: #fff9b0;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 70px;

    &:before {
      content: "";
      position: absolute;
      left: -15px;
      top: 15px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 15px solid #fff9b0;
    }

    .chatbot_profile {
      position: absolute;
      left: -70px;
      top: 30%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
  }

  &.right {
    background-color: #b4eeb4;
    margin-left: auto;
    margin-right: 10px;
    &:after {
      content: "";
      position: absolute;
      right: -10px;
      top: 5px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #b4eeb4;
    }
  }
}

.next-question-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -8px;
  button {
    padding: 10px 20px;
    background-color: #ffcc80;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; /* 버튼 간격 조절 */
  }
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
  }

  button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #a6d9a6;
    flex-direction: row;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
}

.end-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 10px; /* 버튼을 컨테이너의 하단에 위치시킴 */
  right: 10px; /* 버튼을 컨테이너의 오른쪽에 위치시킴 */
  width: 100%;
  padding: 10px;

  button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    //border-radius: 50px;
    color: black;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      transform: scale(1.05); /* 버튼 크기 확대 */
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    }
  }
}
