.book-reader {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬을 위한 설정 */
  height: 100vh; /* 화면 전체 높이 */
  justify-content: center; /* 수직 가운데 정렬 */

  .book-container {
    width: 85%;
    height: 85%;
    border: 1px solid #ddd;
    overflow: hidden; /* 내부 스크롤링 비활성화 */
    position: relative;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    //box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: black !important;

    &:hover {
      color: black !important;
    }
  }
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b6dc80;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }

  &:hover {
    background-color: #9ed353;
  }
}

.back-button {
  position: absolute;
  top: 20px; /* 상단으로부터의 거리 */
  left: 20px; /* 좌측으로부터의 거리 */
  background-color: transparent; /* 배경색 */
  color: lightgray; /* 글자색 */
  border: none;
  padding: 10px 15px; /* 패딩 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-size: 1.5em; /* 글자 크기 */
  cursor: pointer; /* 마우스 커서 모양 */
  z-index: 20; /* nav-button보다 위에 위치하도록 설정 */

  &:hover {
    background-color: #999; /* 호버시 배경색 */
  }
}

.progress-bar-container {
  margin-top: 1em;
  //bottom: 10px;
  //left: 0;
  width: 50%;
  height: 10px;
  background-color: #e0e0e0;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: rgb(245, 245, 123);
  transition: width 0.2s;
}

.progress-text {
  position: absolute;
  top: 12px; // 진도율 바로 밑에 숫자 위치
  //left: 50%;
  transform: translateX(-50%); // 가운데 정렬
  font-size: 0.8rem;
  color: #333;
}

// 인덱스 버튼 스타일
.index-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: gray; // 기본 색상
  z-index: 15;

  &.active {
    color: #9ed353; // 활성화된 북마크 색상
  }

  &:hover {
    color: #9ed353; // 호버시 색상
  }

  &::selection {
    color: #9ed353;
  }
}

// 인덱스 보기 버튼 스타일
.view-indexes {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #9ed353;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 15;

  &.active {
    background-color: #999;
  }
}

// 인덱스 리스트 스타일
.indexes-list {
  position: absolute;
  //top: 8%;
  bottom: 13%;
  right: 1.5%;
  width: 200px; /* 북마크 메뉴의 폭 */
  background-color: ivory;
  border-left: 1px solid #ddd;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 20; /* 가장 위에 표시되도록 설정 */

  div {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .index-progress {
      cursor: pointer;
      margin-bottom: 10px;
      font-size: 14px;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
