.bookCG-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%; /* 전체 컨테이너의 넓이 */
  margin: 0 auto; /* 가운데 정렬 */
  margin-top: 9em;
}

.bookCG-list {
  display: flex;
  flex-wrap: wrap; /* 컨텐츠가 줄 바꿈되도록 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  width: 70%; /* 전체 컨테이너 넓이 조정 */

  .bookCG-no-books {
    margin-left: 4em;
  }
}

.bookCG-item {
  width: 160px;
  margin: 2em;
  flex-shrink: 0; /* 고정된 크기로 유지 */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .category-book-cover-wrapper {
    width: 10em; /* 원하는 고정 너비 */
    height: 16em; /* 원하는 고정 높이 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 이미지가 박스를 넘치지 않도록 숨김 */
  }
}

.bookCG-cover {
  width: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bookCG-details {
  height: auto; /* 텍스트 영역의 높이를 자동으로 조정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookCG-title {
  font-size: 17px;
  margin-bottom: 0.3em;
}

.bookCG-author {
  font-size: 13.5px;
  color: #555;
}
