#header2 {
  @include position-fixed;
  z-index: 1000;
}

.header__inner {
  @include flex-between;
  background-color: #fcfffa;
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 4em;

  .header__logo {
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;

    img {
      width: 300px;
      height: 100px;
      object-fit: cover;
    }
  }

  .separator {
    margin: 0 10px; /* 좌우에 10px의 간격 추가 */
    font-weight: 300;
  }

  .header__nav {
    li {
      display: inline;

      .header2_btn {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        position: relative;
        border: none; /* 테두리 제거 */
        background-color: transparent; /* 배경색 제거 */
        padding: 0; /* 내부 여백 제거 */
        margin-top: 10px;
        //color:rgb(9, 113, 82);
        cursor: pointer; /* 커서 포인터로 변경 */

        &::before {
          content: "";
          width: calc(100% - 28px);
          height: 1px;
          background-color: var(--black);
          position: absolute;
          left: 14px;
          bottom: 8px;
          transform: scaleX(0);
          transition: all 0.3s;
        }
        &:hover {
          font-weight: 700;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}
