#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 6rem;
}

.intro__text {
  //font-size: 20vm;
  padding-top: 1rem;
  padding-bottom: 4rem;

  .text1 {
    font-weight: 800;
    font-size: 2em;
    padding-bottom: 2rem;
  }

  .text2 {
    font-weight: 400;
    font-size: 1.3em;
  }
  .text3 {
    font-weight: 400;
    font-size: 1.3em;
  }


  .boogie {
    width: 100px;
    height: 100px;
  }
}

.intro__start {
  //padding-top: 3rem;
  justify-content: center;
  display: flex;
}

.intro__input {
  position: relative;
  padding-right: 2rem;
  input {
    font-size: 10vm;
    color: #222222;
    width: 20rem;
    height: 3.5rem;
    border: solid #aaaaaa 1px;
    border-radius: 4px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    position: relative;
    background: none;
    z-index: 5;

    &::placeholder {
      color: #aaaaaa;
    }
    &:focus {
      outline: none;
      border: solid #afe06b 3px;
    }
  }

  .error-message {
    position: absolute;
    top: -35px;
    left: 0;
    background: #f8d7da;
    color: #721c24;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
    font-size: 11px;
    white-space: nowrap;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #f8d7da transparent transparent transparent;
    }

    &.success {
      color: green;
      background: #afe06b;
      border: 1px solid #a5d266;

      &::before {
        border-color: #afe06b transparent transparent transparent;
      }
    }
  }
}

.start_btn {
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;

  height: 3.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;

  &.inactive {
    background-color: lightgray;
    color: white;
  }

  &.active {
    background-color: #88dc80;
    color: white;
  }
}

.social_join {
  padding-top: 1.5rem;

  .social {
    padding-top: 1.2rem;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        margin-left: 1rem;
      }

      &:hover {
        filter: grayscale(20%);
      }
    }
  }
}
