// MainNav.jsx
.main_nav {
  margin-left: 11.5em;
  margin-top: 1em;
  display: flex;

  .hambtn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-right: 2em;
  }

  .mylib {
    font-size: 18px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding-bottom: 6px;
  }
}

.category_buttons {
  position: absolute;
  top: 17em;
  left: 12em;
  right: 0;
  width: 8em;
  height: 250px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other components */
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.3em;
}

.category_button {
  margin-bottom: 0.5em;
  font-size: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.category_button:hover {
  background-color: #ddd;
  font-weight: bold;
}

// MainView.jsx
.mainview_line {
  width: 70%;
}
