// MainNav.jsx
.main_nav {
  margin-left: 11.5em;
  margin-top: 8em;
  display: flex;

  .mylib {
    position: absolute; /* 위치를 절대적으로 설정 */
    top: 6.3em; /* .category_title보다 위쪽으로 조정 */
    left: 2.3em; /* .category_title과 같은 left 값을 사용 */
    width: 170px;
    height: 50px;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    background-color: #67cf8cdd; /* 배경색을 투명으로 설정 */
    border: 3px solid #34b479cd; /* 테두리 색상과 두께 설정 */
    border-radius: 10px; /* 박스 모서리 둥글게 */
    display: flex; /* 플렉스 컨테이너로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    color: #056752;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */

    &:hover {
      transform: scale(1.1); /* 살짝 커지는 애니메이션 효과 */
    }
  }
}

.category_title {
  position: absolute;
  top: 8.5em; /* category_buttons보다 위에 위치하도록 조정 */
  left: 2.3em; /* category_buttons와 같은 left 값을 사용 */
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 0.5em; /* 카테고리 버튼들과의 간격 조정 */
  text-align: center;
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  width: 170px;
  height: 50px;
  background-color: rgba(148, 211, 128, 0.8); /* 박스 배경색 설정 */
  border-radius: 10px; /* 박스 모서리 둥글게 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: rgb(12, 93, 48); // 글씨 색상
}

.category_buttons {
  position: absolute;
  top: 15em;
  left: 3em;
  right: 0;
  width: 8.5em;
  background-color: rgba(234, 254, 211, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 800; /* Ensure it appears above other components */
  display: flex;
  flex-direction: column;
  padding: 1em;
  opacity: 1; /* 항상 보이도록 설정 */
  transform: translateY(0); /* 초기 위치 설정 */
  transition: all 0.3s ease-in-out;
}

.category_button {
  margin-bottom: 0.5em;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.7em 1em;
  width: 100%; 
  border-radius: 8px; /* 버튼에 약간의 둥근 모서리 추가 */
  transition: background-color 0.3s, transform 0.3s;
  color: rgb(12, 93, 48);
  font-weight: 550;
}

.category_button:hover {
  background-color: #afd7ac;
  font-weight: 900;
  transform: scale(1.05);
}

.category_button:active {
  background-color: #e0e0e0; /* 클릭 시 배경색 변화 */
}

// MainView.jsx
// 각 카테고리 나누는 라인
.mainview_line {
  width: 100%;
}

.mainview_wrapper {
  width: 70%;
  height: auto;
  margin: 0 auto; /* 가로로 중앙 정렬 */
  transform: translateX(70px); /* 오른쪽으로 20px 이동 */
}
