.main-booklist-component {
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  //font-weight: bold;
}

.book-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* 버튼이 양 끝에 위치하도록 설정 */
  width: 90%; /* 전체 컨테이너의 넓이 */
  margin: 0 auto; /* 가운데 정렬 */

  .pagebtn {
    background-color: transparent;
    color: #555;
    border: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 25px;

    &:hover {
      background-color: #afe06b;
      border-radius: 5px;
      opacity: 60%;
    }
  }
}

.book-list {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 3em;
}

.book-item {
  width: 150px;
  margin: 1em;
  text-align: center;
  flex-shrink: 0; /* 고정된 크기로 유지 */
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.book-cover {
  width: 100%;
  height: auto;
  object-fit: cover; /* 표지를 잘라내거나 비율을 맞춰서 잘 나타내도록 설정 */
  border: 1px solid #ddd; /* 책 표지에 테두리를 추가하여 정렬된 느낌 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 추가 */
}

.book-details {
  margin-top: 0.8em;
  height: 80px; /* 텍스트 영역의 고정된 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.book-author,
.book-publisher {
  font-size: 10px;
  color: #555;
}

// 연령, 성별 추천 컴포넌트
.famousBook-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* 버튼이 양 끝에 위치하도록 설정 */
  width: 85%; /* 전체 컨테이너의 넓이 */
  margin: 0 auto; /* 가운데 정렬 */

  .famousBook-list {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    gap: 2em;
  }
}
