#mylib {
  margin-left: 12em;
  margin-right: 12em;
  margin-top: 8em;

  .profile_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .profile_img {
      width: 6em;
      height: 6em;
      border-radius: 30%;
    }

    .profile_title {
      margin-left: 1.5em;
      font-size: 2.7em;
      font-weight: bold;

      span {
        font-weight: 100;
      }
    }
  }

  .mylib_menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    li {
      display: inline-block;
      margin-right: 1em;
      font-size: 1.1em;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      border: 0;
      bottom: -2px;
      padding: 0.5em 1em; /* 탭 버튼의 패딩 조정 */
      text-align: center;
    }
    li.active {
      font-weight: 600;
      border-bottom: 2px solid black;
      bottom: -2px;
      padding-bottom: 2px;
    }
  }

  .tab_content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcfffa;

    .subtab_menu {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 10px;
      margin-bottom: 20px; /* 서브 탭과 콘텐츠 간의 간격 */

      li {
        display: inline-block;
        margin-right: 1em;
        font-size: 1.1em;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        border: 0;
        bottom: -2px;
        padding: 0.5em 1em;
        text-align: center;
      }

      li.active {
        font-weight: 600;
        border-bottom: 2px solid black;
        bottom: -2px;
        padding-bottom: 2px;
      }
    }

    /* Flexbox 설정을 추가하여 책 목록이 가로로 배치되도록 */
    ul.mybook-list {
      display: flex;
      flex-wrap: wrap; /* 여러 줄로 나열될 수 있도록 설정 */
      gap: 1em; /* 각 항목 간의 간격 */
      justify-content: flex-start; /* 가로로 배치 */
      align-items: center;
      padding: 0;
      list-style-type: none;
      margin-top: 4em;
      margin-left: 2em;
    }

    .mylib-book-item {
      width: calc(30% - 2px); /* 각 책 항목의 너비를 조정 */
      //max-width: calc(30% - 10px); /* 최대 너비 설정 */
      margin-bottom: 1em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 600px) {
      .book-item {
        width: 100%; /* 작은 화면에서는 각 항목이 100% 너비를 차지 */
        max-width: 100%;
      }
    }
    // 책 커버이미지 틀
    .mylib-book-cover-wrapper {
      width: 8em; /* 원하는 고정 너비 */
      height: 12em; /* 원하는 고정 높이 */
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; /* 이미지가 박스를 넘치지 않도록 숨김 */
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 박스에 그림자 추가 */
      background-color: transparent; /* 이미지 로딩 전 배경색 */
    }

    .book-cover {
      width: 100%; /* 표지의 크기를 조정 */
      height: auto;
      object-fit: cover;
      border: 1px solid #ddd;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &.selected {
        //border: 3px solid black;
        opacity: 0.6;
      }
    }

    .book-details {
      margin-top: 0.6em;
      height: auto; /* 텍스트 영역의 고정된 높이 설정 */
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .book-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0.8em;
    }

    .book-author,
    .start_on {
      font-size: 12px;
      color: #555;
    }
    .completed_on {
      font-size: 12px;
      color: #3d3d3d;
      font-weight: bolder;
    }

    .progress-bar-container {
      width: 100px;
      height: 10px;
      background-color: #e0e0e0;
      border-radius: 5px;
      margin-top: 10px;
      overflow: hidden;
    }

    .progress-bar {
      height: 100%;
      background-color: #67cf7add; /* 진행률 바의 색상 */
      border-radius: 5px;
      transition: width 0.3s ease-in-out; /* 부드러운 전환 효과 */
    }

    .progress-rate {
      font-size: 14px;
      color: #333;
      margin-top: 5px;
    }
  }
}

.favorite-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.favorite-actions {
  display: flex;
  gap: 0.5rem; /* 버튼 사이의 간격 */
  margin-right: 1em;
}

.favorite-edit-button {
  background-color: #b6dc80;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.favorite-delete-button {
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.edit-actions {
  margin-bottom: 1rem;
}
