// MyPage.scss

#my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;

    .profile-pic-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-pic {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
      }
    }

    .info {
      div {
        display: flex;
        align-items: center;
        margin: 5px 0;
        font-size: 16px;
        line-height: 2;

        .mypage-icon {
          margin-right: 20px;
        }

        span {
          font-style: italic;
          color: rgb(78, 78, 78);
          font-weight: 500;
          margin-right: 5px;
        }
      }
    }

    .editBtn {
      margin-top: 20px;
      padding: 12px;
      border: none;
      border-radius: 5px;
      background-color: #b6dc80;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        filter: grayscale(30%);
      }
    }
  }
}

// EditMyPage.scss

.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;

  .profile-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .camera-icon {
      cursor: pointer;
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;

    .confirmBtn {
      margin-left: 15px;
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #b6dc80;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
    }

    small {
      margin-bottom: 10px;
      margin-top: -6px;
      margin-left: 70px;
      font-weight: 300;
    }

    label {
      margin-bottom: 15px;
      font-weight: bold;
    }
    input,
    select {
      flex: 1;
      padding: 10px;
      margin-top: 5px;
      margin-left: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .eventAlarm-group {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      label {
        margin-right: 10px;
        font-weight: bold;
      }

      input,
      select {
        flex: 1;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
    .radio-group {
      display: flex;
      gap: 1rem;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        font-weight: normal;

        input {
          margin-right: 5px;
        }
      }
    }

    .preferences {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-bottom: 15px;

      button {
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        background-color: #eaeaea;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #b6dc80;
        }

        &.selected {
          background-color: #b6dc80;
          color: #fff;
        }
      }
    }

    button {
      margin-top: 20px;
      padding: 12px;
      border: none;
      border-radius: 5px;
      background-color: #b6dc80;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #b6dc80;
      }
    }
  }
}
