.container {
  display: flex;
}

#searchResults {
  margin-top: 10em;
  flex: 1;
  h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

.searchWord {
  color: rgb(14, 125, 21);
}

.booksGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* 반응형 그리드 */
  gap: 4rem;
  margin: auto;
  padding: 2em;
  width: 80%;
}

.noResultsMessage {
  font-size: 1.3em;
  font-weight: bold;
  grid-column: span 4;
}

.bookItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  padding-right: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .searchList-book-cover-wrapper {
    width: 100%; /* 원하는 고정 너비 */
    height: 18em; /* 원하는 고정 높이 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 이미지가 박스를 넘치지 않도록 숨김 */
    border: 1px solid #ddd; /* 박스에 테두리 추가 */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 박스에 그림자 추가 */
    background-color: white; /* 이미지 로딩 전 배경색 */
  }
}

.bookCover {
  width: auto;
  height: auto;
  display: block;
}

.bookInfo {
  padding: 0.5rem;
  text-align: center;

  h3 {
    margin: 0.5rem 0;
    font-size: 15px;
    font-weight: bold;
  }

  p {
    margin: 0.25rem 0;
    font-size: 11px;
    color: #555;
  }
}
