#taste {
  display: flex;
  flex-direction: column;
}

.taste_text {
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  font-size: 1.7em;
  font-weight: 700;
}

.select_taste {
  padding-top: 2.4rem;
  margin-left: 13rem;

  div {
    font-weight: 700;
    color: rgb(33, 33, 33);
    margin-bottom: 2rem;
  }

  .selectAge {
    width: 8rem;
    height: 2.4rem;
    font-size: 1em;
    background-color: transparent;
    margin-right: 2rem;
    border-radius: 10px;
    border: solid #afe06b 3px;
    z-index: 3;
    text-align: center;

    option {
      padding: 3px 0;
    }
    &:focus {
      outline: none;
      border: solid #afe06b 3px;
    }
  }

  .selectGender {
    text-align: center;
    margin-left: 2rem;
    border-radius: 10px;
    width: 8rem;
    height: 2.4rem;
    font-size: 1em;
    border: solid #afe06b 3px;
    z-index: 3;
    background-color: transparent;

    &:focus {
      outline: none;
      border: solid #afe06b 3px;
    }
  }
}

.mood {
  margin-top: 2rem;
  margin-left: 13rem;
  margin-right: 6rem;
  div {
    font-weight: 700;
    color: rgb(33, 33, 33);
  }
  button {
    cursor: pointer;
    width: 125px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #999;
    color: rgb(33, 33, 33);
    text-align: center;
    margin-top: 2rem;
    margin-right: 4rem;
    &:hover {
      font-weight: 700;
    }

    &.selected {
      font-weight: 700;
      background-color: #afe06b;
      filter: brightness(120%);
    }
  }
}

.nextbtn {
  cursor: pointer;
  margin-top: 1.4rem;
  margin-right: 11rem;
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: 0 none;
  float: right;
  font-size: 1em;
  &:hover {
    font-weight: 700;
  }
}
